* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-nav {
  background-color: rgb(190, 115, 115);
}

.nav-element {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.nav-list, .countries-list {
  list-style: none;
}
.nav-dec {
  text-decoration:underline  rgb(0, 255, 60);
  color: black;
  font-weight: bold;
}

.nav-text {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-img {
  width: 50px;
  height: 50px;
}

.contenaire {
  display: flex;
}

.countries {
  display: flex;
  width: auto;
  padding: 5px;
  background-color: red;
}

.countries-list {
  display: flex;
  padding: 5px;
  background-color: green;
}

label {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  gap: 15px;
}

.tags {
  background-color: blue;
  width: 100%;
}

.tags-box {
  display: flex;
  justify-content: center;
  margin: 5vh 0;
  height: auto;
  background-color: aliceblue;
}

.title-h2 {
  text-align: center;
}

/* FLEX CARD */

.flex {
  background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-card {
  width: 100%;
  background-color: blue;
  display: flex;
  flex-direction: column;

}

.flex-card-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.flex-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}